.grid{
    display: grid;
    gap: 8px;
    grid-template-columns: auto;
}
@media screen and (min-width:1px){
    .grid-sm-1{
        grid-template-columns: repeat(1, 1fr);
    }
    .card-title-image{
        float: right;
        object-fit: cover;
        object-position: center center;
        width: 30%;
        height: 100%;
    }
    .card-button{
        display: inline-block;
        margin-right: 30%;
      }
    
}
@media screen and (min-width:481px) {
    .grid-sm-2{
        grid-template-columns: repeat(2, 1fr);
    }
    .card-button{
        display: inline-block;
        margin-right: 20%;
      }
}
@media screen and (min-width:1025px) {
    .grid-larg-4{
        grid-template-columns: repeat(3, 1fr);
    }
    .card-title-image{

        height: initial;
        width: 10000px;
        max-width: 100%;
    }
    .card-button{
        margin-right: 0;
    }
}