:root{
    --surface: #FFFBFE;
}
.card-body{
    border-radius: 12px;
    overflow: hidden;
    border: 1px solid black;
}

.card-body:hover{
    box-shadow: 4px 4px 4px rgb(0, 0, 0);
}
.card-fill{
  padding: 10px;
}
.card-text,.card-title,.card-price{
  margin: 10px;
}
.card-title-image{
  margin-left: 10px;
}